<div>
    <a href="" target="_BLANK"> <img src="../../../assets/facebook.png" alt="facebook" title="facebook"></a>
    <a href="" target="_BLANK"> <img src="../../../assets/github.png" alt="github" title="github"></a>
    <a href="" target="_BLANK"> <img src="../../../assets/instagram.png" alt="instagram" title="instagram"></a>
    <a href="" target="_BLANK"> <img src="../../../assets/linkedin.png" alt="linkedin" title="linkedin"></a>
    <a href="" target="_BLANK"> <img src="../../../assets/twitter.png" alt="twitter" title="twitter"></a>
</div>
