<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
       <ul>
           <li><h3>Escuela Primaria Jose Gabriel Brochero - (desde el año 2001 hasta el año 2007)</h3>
            <p>En la escuela primaria "Jose Gabriel Brochero" ubicado en Villa Cura Brochero, Córdoba- cursé y finalicé los estudios primarios obligatorios .</p>
       </li></ul>
        <ul><li><h3>IPEM N°285 Jose Gabriel Brochero - (desde el año 2008 hasta el año 2013)</h3>
            <p>En la escuela secundaria IPEM n°285 "José Gabriel Brochero" ubicado en Mina Clavero, Cordoba- cursé y finalicé los estudios secundarios, egresando del mismo en Bachillerato en Economía y Administración. Para visualizar certificado has <a href="../../../assets/secundaria.jpg" target="_blank">click aqui.</a></p>
        </li></ul>
        <ul><li><h3>CIOI- Capacitación Integral en Oficios - año 2014</h3>
            <p>En Capacitación Integral en Oficios ubicado en Villa Dolores, Córdoba- cursé y finalicé el curso de Secretariado Contable.</p>
        </li></ul>
        <ul><li><h3>Instituto Colbert - año 2020</h3>
            <p>En Instituto Colbert ubicado en Córdoba Capital- cursé y finalicé a distancia el curso de Preceptor Nacional y Secretariado Docente en el . Para visualizar el certificado de dicho curso haz <a href="../../../assets/colbert.jpg" target="_blank">click aqui.</a> </p>
        </li></ul>
        <ul>
            <li>
                <h3>Argentina Programa - año 2022</h3> <p>En Argentina Programa cursé y finalicé a distancia la etapa #SéProgramar del Plan Argentina Programa. Para visualizar el certificado de dicho curso haz <a href="../../../assets/se-programar.pdf" target="_blank"> click aqui.</a></p>
            </li>
        </ul>
    </div>
</div>
