<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <img src="../../../assets/fotodeperfil.jpg" class="img-fluid" id="fotoPerfil" alt="fotodeperfil">
  </div>  
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <h1 id="nombre">Estela Abigail Guzmán</h1>
     <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca De Mi</h1>
        <p>Hola! soy Abigail Guzmán, vivo en Villa Cura Brochero (Córdoba). Realice el curso de Desarrollador web Full Stack Jr. dictado por Argentina Programa, donde abordamos Front-end y Back-end para el desarrollo de paginas web, aplicaciones. Actualmente me encuentro cursando Testing en Argentina Programa 4.0 y cuento con certificación de Secretariado Contable y Preceptor Nacional.</p>
    </span>
  </div>
</div>
