<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
       <ul>
           <li><h3>Municipalidad de Villa Cura Brochero - (desde diciembre del 2011 a febrero del 2012)</h3>
            <p>En la Municipalidad de Villa Cura Brochero, mi puesto fue cobrar estacionamiento en el centro de la ciudad, en temporada alta.</p></li>
        </ul>
        <ul><li><h3>Wanted Resto Pub - (desde diciembre 2013 a febrero 2014)</h3>
            <p>Wanted es un resto pub ubicado en el centro de Mina Clavero- Córdoba, mi puesto fue de promotora en temporada alta.</p></li>
        </ul>
       <ul><li><h3>Super Imperio Top - (desde diciembre del año 2015 hasta marzo del año 2016)</h3>
            <p>Super Imperio Top es un supermercado, ubicado en Villa Cura Brochero- Córdoba, mi puesto fue de cajera del mismo, </p></li>
       </ul>
        <ul><li><h3>Planet-T Remeras - (desde diciembre de 2016 hasta la actualidad.)</h3>
            <p>Planet-T Remeras es un local de remeras personalizadas, ubicada en Mina Clavero- Córdoba, el puesto que ocupo es atención al público y estampado de remeras </p></li>
       </ul>
  </div>
</div>
