<div class="row">
    <h1>Hard and soft skils</h1>
   
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="60"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'green'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="600"
      [title]="'FrontEnd'"
      [titleColor]="'white'"
      [titleFontSize]="'20'"
      [showUnits]="false"
      [showSubtitle]="false"
    ></circle-progress> 
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="40"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'green'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="600"
      [title]="'BackEnd'"
      [titleColor]="'white'"
      [titleFontSize]="'20'"
      [showUnits]="false"
      [showSubtitle]="false"
    ></circle-progress> 
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="50"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'green'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="600"
      [title]="'Testing'"
      [titleColor]="'white'"
      [titleFontSize]="'20'"
      [showUnits]="false"
      [showSubtitle]="false"
    ></circle-progress> 
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="80"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'green'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="600"
      [title]="'Adaptabilidad'"
      [titleColor]="'white'"
      [titleFontSize]="'20'"
      [showUnits]="false"
      [showSubtitle]="false"
    ></circle-progress> 
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="90"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'green'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="600"
      [title]="'Paciencia'"
      [titleColor]="'white'"
      [titleFontSize]="'20'"
      [showUnits]="false"
      [showSubtitle]="false"
    ></circle-progress> 
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'green'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="600"
      [title]="'Responsabilidad'"
      [titleColor]="'white'"
      [titleFontSize]="'20'"
      [showUnits]="false"
      [showSubtitle]="false"
    ></circle-progress> 
    </div>

